server/.env
server/.env.test
server/.env.dev
server/volumes/db/data/
server/volumes/storage/
server/volumes/piston/
content/.cache/
__pycache__/
server/.test-user
.gradle/
.kotlin/
build/
local.properties
.idea/
*.iml
captures/
